/* Remove number input arrows/spinners */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* preloader section */
.preloader_area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 111111 !important;
    background: #ffffffb3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader_area .img {
    width: 80px;
    height: 80px;
}

.preloader_area .img img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.disabled {
    opacity: 0.5;
    pointer-events: none !important;
}

.wsus__payment_method .payment_method {
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.wsus__payment_method .payment_method input[type="radio"] {
    display: none;
}

.wsus__payment_method .payment_method label {
    display: block;
    cursor: pointer;
    transition: border-color 0.3s ease, filter 0.3s ease;
}

.wsus__payment_method .payment_method img {
    max-width: 100%;
    height: auto;
    pointer-events: none;
    border: 1px solid rgba(23, 23, 24, 0.12);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__payment_method .payment_method input[type="radio"]:checked+img,
.wsus__payment_method .payment_method input[type="radio"]:checked~img {
    border: 1px solid #223BE2;
}

.wsus__payment_method .payment_method input[type="radio"]:disabled+img,
.wsus__payment_method .payment_method input[type="radio"]:disabled~img {
    filter: grayscale(100%) blur(1px);
    opacity: 0.6;
    cursor: not-allowed;
    -webkit-filter: grayscale(100%) blur(1px);
}

.wsus__shipping_method {
    display: block;
    text-align: center;
    padding: 5px 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 20px 0px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__shipping_method:hover {
    border-color: var(--colorBlack);
}